<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo"><a href="/">Joey Lorich</a></h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        {% for item in site.navbar %}
          <li><a href="/{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <li><a href="/feed.xml" target="_blank"><i class="icon icon-rss"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
